name: Update TorrentPier latest version

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:

jobs:
  version:
    name: Changelog generation
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Get latest TorrentPier release
        id: get-latest-release
        run: |
          REPO="torrentpier/torrentpier"
          LATEST_RELEASE=$(curl -s https://api.github.com/repos/$REPO/releases/latest | jq -r '.tag_name')
          RELEASE_DATE=$(curl -s https://api.github.com/repos/$REPO/releases/latest | jq -r '.published_at' | cut -d'T' -f1)

          echo "Latest release version: $LATEST_RELEASE"
          echo "Release date: $RELEASE_DATE"
          echo "LATEST_RELEASE=$LATEST_RELEASE" >> $GITHUB_ENV
          echo "RELEASE_DATE=$RELEASE_DATE" >> $GITHUB_ENV

      - name: Commit changes
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          if git diff --quiet profile/README.md; then
            echo "No changes to commit."
          else
            git add profile/README.md
            git commit -m "Update README with latest TorrentPier version: ${{ env.LATEST_RELEASE }}"
            git push origin HEAD
          fi
